[tool.poetry]
name = "kevvy"
version = "0.2.3"
description = "A Discord bot for searching the Common Vulnerabilities and Exposures (CVE) list and providing KEV updates."
authors = ["mauvehed <mh@mvh.dev>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "kevvy" }]

[tool.poetry.dependencies]
python = "^3.10"
discord-py = "^2.5.2"
python-dotenv = "^1.1.0"
vulncheck-sdk = "^0.0.11"
aiohttp = "^3.11.18"

[tool.poetry.group.dev.dependencies]
ruff = "^0.11.7"
pytest = "^8.2.2"
pytest-asyncio = "^0.26.0"
mkdocs = "^1.6.1"

[tool.poetry.group.sourcery.dependencies]
sourcery-cli = "1.18.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
